<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开启驼峰映射 ，否则查询结果不能转成resultType-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--项目DataObject对应的包名-->
        <package name="org.pangu.common.dao"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/TaskInfoMapper.xml"></mapper>
        <mapper resource="mybatis/TriggersLogMapper.xml"></mapper>
		<mapper resource="mybatis/TimerLockMapper.xml"></mapper>
		<mapper resource="mybatis/ScheduleTimeMapper.xml"></mapper>
    </mappers>
</configuration>