<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2019 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pangu.db.ScheduleTimeMapper">
	<resultMap type="ScheduleTimeDo" id="doMap">
		<result column="app_id" property="appId"/>
		<result column="job_name" property="jobName"/>
		<result column="last_time" property="lastTime"/>
	</resultMap>
	<sql id="ALL_COLUMNS">
		app_id,job_name,last_time
    </sql>
	<insert id="addSchedule" parameterType="ScheduleTimeDo">
	INSERT INTO  schedule_last_time(
            <include refid="ALL_COLUMNS"/>
        ) VALUES (#{dto.appId}, #{dto.jobName}, #{dto.lastTime})
	</insert>
	<select id="getByName" resultMap="doMap">
		SELECT <include refid="ALL_COLUMNS"/> FROM schedule_last_time WHERE app_id = #{appId} AND job_name = #{name}
	</select>
	<update id="updateTime" parameterType="ScheduleTimeDo">
		UPDATE schedule_last_time SET last_time = #{dto.lastTime} WHERE app_id = #{dto.appId} AND job_name = #{dto.jobName}
	</update>	
</mapper>		